body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: 0;
}
.login {
    width:30%;
    margin:10vh auto !important;
    padding:3rem 2rem;
    border-radius: 10px;
}



h5{
    color: #3f3f3f !important;
}

.new{
    text-align: right !important;
    margin-top: 1.5rem;
}

.new, a{
    color: #3f3f3f !important;
    font-size: .98rem !important;
}
a:hover{
  text-decoration: underline;
}

.logo{
    width: 30%;
}

.signin__redirect{
    text-align: right !important;
    margin-top: 1.5rem;
}
.signin__redirect, a{
    color: #3f3f3f !important;
    font-size: .98rem !important;
}

input{
    margin: 1rem 0 !important;
}

.addimage {
    width:30%;
    margin:5vh auto !important;
    padding:50px;
    border-radius: 10px;
}

.addimage input {
    margin:10px 0;
}


.btn{
    width: 100%;
    padding: 0rem 1.8rem !important;
    border-radius: .10rem !important;
    color: white;
    font-size: .98rem !important;
    transition: background-color .6s;
    margin-top: 1rem !important;
    text-transform: none !important;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.13) !important;
}

.image {
    width:50%;
}

@media only screen and (max-width: 600px){
    .login {
        width:70%;
        padding:40px;
    }
    .addimage {
        width:70%;
        padding: 40px;
    }
}