body {
    margin:0;
    padding:0;
}
.login {
    width:40%;
    margin:20vh auto !important;
    padding:50px;
    border-radius: 10px;
}
h5{
    color: #3f3f3f !important;
}
.addimage {
    width:30%;
    margin:5vh auto !important;
    padding:50px;
    border-radius: 10px;
}

.addimage input {
    margin:10px 0;
}


.btn{
    padding: 0rem 1.8rem !important;
    border-radius: .10rem !important;
    color: white;
    font-size: .95rem !important;
    transition: background-color .6s;
    margin-top: 1rem !important;
    text-transform: none !important;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.13) !important;
}

@media only screen and (max-width: 600px){
    .login {
        width:70%;
        padding:40px;
    }
    .addimage {
        width:70%;
        padding: 40px;
    }
}